  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }

.login-page {
  background-image: url(/public/imagens/felix-lam-J7fxkhtOqt0-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.login-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  height: 480px;
  width: 460px;
  border: 1px solid whitesmoke;
  gap: 30px;
  border-radius: 13px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 4px 29px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 4px 29px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 29px -9px rgba(0, 0, 0, 0.75);
}
.login-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.login-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.login-button {
  height: 51px;
  width: 340px;
  border-radius: 50px;
  border: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;

  background: linear-gradient(135deg, #38bdf8, #1b1d94);
  color: white;

  transition: background-position 0.4s ease, transform 0.2s ease, box-shadow 0.2s ease;
  background-size: 200%;
}
.login-button:hover {
  background-position: right;
  transform: scale(1.04);
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
}

.login-input {
  width: 340px;
  height: 51px;
  border-radius: 50px;
  border: none;
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  outline: none;
}
.input::placeholder {
  color: white;
}
.login-checkForgot {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
.login-checkbox {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 10px;
  font-weight: 400;
}
.login-forgot {
  color: white;
  font-weight: 400;
  text-decoration: none;
}
.login-register {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: white;
}
.login-p {
  font-weight: 300;
}
.login-href {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.login-msg-sucesso {
  color: lime;
  font-size: 18px;
}
.login-msg-erro {
  color: red;
  font-size: 18px;
}
.login-inputCheck {
  transition: transform 0.8s ease-in-out; 
}
.inputCheck:hover {
  transform: rotate(360deg);
}